
<!-- psot.html
    This html block is inserted into both:
   - each ArticleView directly after posting and
   - each "for-loop" iteration in Blog.html -->
<div class="card text-dark p-3" >
  <div class="card-block font-weight-light">
    <h4 class="card-title">{{p.subject}}</h4>
    <p class="card-subtitle mb-2 text-muted">{{p.created.strftime("%b %d, %Y")}} | {{p.author}}</p>
  </div>
  {% if p.has_image %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pl-0">
        <!-- Main Image -->
        <img class="img-thumbnail align-middle" src="/thumbnailer/{{p.key.id()}}" alt="Post picture" width="400" height="265">
      </div>
      <div class="col-lg-6 py-2 pl-0">
        <!-- Main Content -->
        <div class="module fadeout">
          <p class="card-text">{{p._render_text | safe}}</p>
        </div>
        <br>
        <div class="text-right">
            <a href="/blog/{{p.key.integer_id()}}" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container-fluid">
    <div class="row">
      <!-- Main Content -->
      <div class="col-lg-12 pl-0 text-truncate">
        <div class="module fadeout">
          <p class="card-text">{{p._render_text | safe}}</p>
        </div>
        <br>
        <div class="text-right" >
            <a href="/blog/{{p.key.integer_id()}}" class="card-link">Read more</a>
        </div>

      </div>
    </div>
  </div>
  {% endif %}
  <!-- p.key() can be used to access the key of the article -->
  <hr>

  <!-- Map -->
  <!-- {% if p.map_url %}
  <div class="card-block">
    <h6 class="card-subtitle mb-2 text-muted">Town, Country</h6>
    <p class="card-text">Location description....</p>
    <img class="card-img-bottom img-fluid img-thumbnail" src="{{p.map_url}}" alt="Card image map">
  </div>
  {% endif %} -->
</div>
<br>
