{% extends "base.html"%}

{% block content %}

    <!-- Support -->
    <section id="support" class="py-5 mt-5">
      <div class="container text-light">
        <h1>Support</h1>
        <p>Our first projects started in the summer of 2017. We are now building our network and establishing trusted relationship with our local partners. The number of curated projects to date is small for the moment but we are working hard to find a wider range of projects for the community to follow and support. If you would like to start a project, please contact us to tell us about it!</p>
        <p>You can follow us on Facebook to see track our progress.</p>
      </div>
      <br>

      <div class="container text-center">
        <h2 class="text-light my-5">Explore all projects</h2>
        <div class="row  d-flex justify-content-center">
          <div class="card mx-3 my-3 project-card">
            <img class="card-img-top img-fluid" src="www/img/classes02.jpg" alt="School in Benin" width="640" height="480">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">Houngo School Construction</h5>
              <p class="card-text">The Houngo public school in Tori is over-crowded, help us building classrooms and give the kids better conditions to learn.</p>
              <a href="/project" class="btn btn-primary mb-3">Go Houngo!</a>
              <div class="row">
                <div class="col-6">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p class="float-left"><small>Benin, W. Africa</small></p>
                </div>
              </div>
              <div class="progress my-0">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="row">
                <div class="col-md-3"><small>&euro; 500</small></div>
                <div class="col-md-6"></div>
                <div class="col-md-3"><small>Funded</small></div>
              </div>
            </div>

          </div>
          <div class="card mx-3 my-3 project-card">
            <img class="card-img-top img-fluid" src="www/img/classes02.jpg" alt="School in Benin" width="640" height="480">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/project" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card mx-3 my-3 project-card">
            <img class="card-img-top img-fluid" src="www/img/classes02.jpg" alt="School in Benin" width="640" height="480">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/project" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>

      </div>


      <br>
      <div class="container text-light">
        <p>As a newly registered non-profit, we are restricted by our limited finance but you can help us achieve more by donating to our project. We will email you a credit receipt that you can use for tax deduction purposes. On your request, we will communicate about your support on our Facebook page.</p>
        <p>Donations can also be made at:</p>
        <ul class="list-unstyled">
          <li>Antoine VACHER, ADAPPT Treasurer</li>
          <li>IBAN:  DE28500105175563518887</li>
          <li>BIC: INGDDEFFXXX</li>
        </ul>
        <p>Thank you for your support!</p>
        <p>We also value knowledge. Support us with your ideas, contacts and advise, just get in touch!</p>
        <br>
        <a href="index.html#contact">
          <button class="btn btn-light" type="button" name="button">Contact</button>
        </a>
      </div>
    </section>
    <!-- Footer -->
{% endblock %}
