
{% extends "base.html" %}

{% block content %}

    <!-- Know more about inPact -->
    <section id="know-more" name="know-more" class="py-5">
      <br>
      <br>
      <div class="container text-light text-center">
        <div class="row">
            <div class="col col-lg-2"></div>
            <div class="col-12 col-lg-8" >
              <h1>Know more about inPact</h1>

              <p>inPact is a peer to peer lending and giving platform empowering people in development projects. Our key objective is to enhance collaboration and cooperation in a fair and transparent way.</p>
              <br>
              <br>

              <div class="img-thumbnail contain-full p-5 bg-secondary">
                <h2 class="dark-gray-text">OUR<strong> STORY...</strong></h2>
                <div class="text-light">
                  <p>Everything started in 2016, with a group of friends dreaming about changing the world. We all share common values and want to make the world a better place. Through our vision of building a collective platform to connect people around the world wanting to exchange their experience, their networks and share their support.</p>
                  <p>After a year of preparation, we decided to officially start our journey and registered as a non-profit in France, under the name of ADaPPT. The journey has been extremely exciting so far and we are now expanding our network of local partners and building our first projects.</p>
                  <p>Come along with us on a great venture!</p>
                </div>

              </div>
            </div>
            <div class="col col-lg-2"></div>
        </div>
      </div>

      <br>
      <br>
    </section>

    <!-- Moto -->
    <section id="" class="text-light text-center">
        <div class="container-fluid green-section py-5">

          <div class="container">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="p-3">
                  <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h3>Vision</h3>
                  <p>Our vision is to create a worldwide community that through collaboration allows any citizen of the world the opportunity to achieve their local development projects.</p>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <div class="p-3">
                  <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h3>Mission</h3>
                  <p>Our mission is to identify local entrepreneurs and change makers in developing countries, offering exposure of their ideas to individuals interested in providing financial support or expertise.</p>
                </div>

              </div>
              <div class="col-sm-4 text-center">
                <div class="p-3">
                  <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h3>Approach</h3>
                  <p>We provide a crowdfunding platform where you can donate and invest in local development projects that are both appraised and financed by the inPact community.</p>
                </div>
              </div>
              <!-- <div class="col-sm-3"></div> -->
            </div>
          </div>
      </div>
    </section>

    <!-- The Team -->
    <section id="team" name="team" class="py-5">
      <br>
      <br>
      <div class="container text-light text-center">
        <div class="row">
            <div class="col col-lg-2"></div>
            <div class="col-12 col-lg-8" >
              <h1>The inPact Team</h1>

              <p>Our team is a nice mixture of backgrounds and cultures. We all connected during our educations and our work lives throughout Europe. Despite of the distance between each of us, this project, along with the values that are promoted, is federating us. We are striving, together with you, to make the inPact venture a success</p>
              <br>
              <br>

              <!-- Pictures team -->
              <div class="container-fluid ">
                <div class="row cursive p-5">
                  <div class="col-xs-12 col-sm-4 frame-oval">
                    <br>
                    <div class="">
                      <img src="www/img/team/antoine-crop-370x500.jpg" class="img-fluid rounded-circle" alt="Antoine" width="370" height="500">
                    </div>
                    <br>
                    <br>
                    <h3><em>Antoine V.</em></h3>
                    <ul class="list-unstyled">
                      <li>Nationality:  French</li>
                      <li>Based in : The Hague, NL</li>
                      <li>Languages: French, English, German</li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4 frame-oval">
                    <br>
                    <div class="">
                      <img src="www/img/team/david-crop-370x500.jpg" class="img-fluid rounded-circle" alt="David" width="370" height="500">
                    </div>
                    <br>
                    <br>
                    <h3><em>David O.</em></h3>
                    <ul class="list-unstyled">
                      <li>Nationality: British/Nigeria</li>
                      <li>Based in: Kassel, DE</li>
                      <li>Languages: Languages: English, German</li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4 frame-oval">
                    <br>
                    <div class="">
                      <img src="www/img/team/fred-crop-370x500.jpg" class="img-fluid rounded-circle" alt="Fred" width="370" height="500">
                    </div>
                    <br>
                    <br>
                    <h3><em>Frederique v.B.</em></h3>
                    <ul class="list-unstyled">
                      <li>Nationality: Dutch</li>
                      <li>Based in: Amsterdam, NL</li>
                      <li>Languages: Languages: Dutch, English, Spanish</li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>

              <div class="container-fluid ">
                <div class="row cursive p-5">
                  <div class="col-xs-12 col-sm-4 frame-oval">
                    <br>
                    <div class="">
                      <img src="www/img/team/pablo-crop-370x500.jpg" class="img-fluid rounded-circle" alt="Antoine" width="370" height="500">
                    </div>
                    <br>
                    <br>
                    <h3><em>Pablo A.</em></h3>
                    <!-- <h4>Front-end and Mobile Developer</h4> -->
                    <ul class="list-unstyled">
                      <li>Nationality: Canadian/Mexican</li>
                      <li>Based in: Strasbourg, FR</li>
                      <li>Languages: Spanish, French, English, German</li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4 frame-oval">
                    <br>
                    <div class="">
                      <img src="www/img/team/tamas-crop-370x500.jpg" class="img-fluid rounded-circle" alt="David" width="370" height="500">
                    </div>
                    <br>
                    <br>
                    <h3><em>Tamas E.</em></h3>
                    <ul class="list-unstyled">
                      <li>Nationality: Hungarian</li>
                      <li>Based in: Frankfurt, DE</li>
                      <li>Languages: Hungarian, English, German</li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4 frame-oval">
                    <br>
                    <div class="">
                      <img src="www/img/team/jv-crop-370x500.jpg" class="img-fluid rounded-circle" alt="Fred" width="370" height="500">
                    </div>
                    <br>
                    <br>
                    <h3><em>Jean Victor R.</em></h3>
                    <!-- <h4>Back-end Developer</h4> -->
                    <ul class="list-unstyled">
                      <li>Nationality: French</li>
                      <li>Based in : Mulhouse, FR</li>
                      <li>Languages: French, English, German</li>
                    </ul>
                  </div>
                </div>
              </div>
              <br><br>
            </div>

            <!-- <div class="col col-lg-2"></div> -->
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>

{% endblock %}
